.goods {
  display: flex;
}
.goods-item {
  background-color: rgb(166, 140, 191);
  height: 80px;
  width: 140px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: 10px;
}
li {
  list-style: none;
}
.goods-item:hover {
  position: relative;
  top: -5px;
}
